*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.group1 {
    background: darkgray;
}
.group2 {
    background: darkblue;
}
.group3 {
    background: darkcyan;
}
.group4 {
    background: darkgoldenrod;
}
.group5 {
    background: darkgreen;
}
.group6 {
    background: darkkhaki;
}
.group7 {
    background: darkmagenta;
}
.group8 {
    background: darkolivegreen;
}
.group9 {
    background: darkorange;
}
.group10 {
    background: darkorchid;
}
.group11 {
    background: darkred;
}
.group12 {
    background: darkseagreen;
}

/* .container{
    background: darkslategrey;
    border: 2px solid maroon;
    color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    padding: 12px 12px;
    row-gap: 24px;
    padding: 12px 12px;
    display: grid;
    grid-template-columns: ;
    grid-template-rows: ;
    grid-template-rows: auto;
    padding: 24px;
    gap: 24px;
}

[class*="group"]{
    height: 150px;
}

!small device
@media(max-width: 767px){
    .container{
        grid-template-columns: repeat(1, 1fr);
    }
}
!medium device
@media(min-width: 768px){
    .container{
        grid-template-columns: 1fr 1fr;
        grid-template-columns: repeat(2, 1fr);
    }
}
!large device
@media(min-width: 1280px){
    .container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(4, 1fr);
    }
    .group1{
        grid-start: 2/3/4/6;
        grid-column-start: 2;
        grid-row-start: 3;
        grid-column-end: span 3;
    }
} */

/* !공통 레이아웃 */

.container{
    border: 5px solid darkslategrey;
    margin: 50px;
    display: grid;
    gap: 24px;
    grid-template-rows: repeat(3, 200px);
}

/* !모바일 레이아웃 */
@media(max-width: 768px){
    .container{
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: auto auto auto; */
    }
    .group2{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

/* !데스트탑 레이아웃 */
/* 소수점 픽셀을 위해 겹치게 설정하기도 함 */
/* @media(min-width: 768px){ */
    @media(min-width: 769px){
        .container{
            grid-template-columns: repeat(12, 1fr);
            /* grid-template-rows: auto auto auto; */
        }
        .group1{
            grid-area: 2/ 1/ 4/ 5;
        }
        .group2{
            grid-column: 1/13;
            grid-row: 1/2;
        }
        .group3{
            grid-area: 3/6/4/13;
        }
        .group4{
            grid-area: 2/5/3/10;
        }
        .group5{
            grid-area: 2/10/3/13;
        }
}