*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.group1{
    background: darkgray;
}
.group2{
    background: darkblue;
}
.group3{
    background: darkcyan;
}
.group4{
    background: darkgoldenrod;
}
.group5{
    background: darkgreen;
}
.group6{
    background: darkkhaki;
}
.group7{
    background: darkmagenta;
}
.group8{
    background: darkolivegreen;
}
.group9{
    background: darkorange;
}
.group10{
    background: darkorchid;
}
.group11{
    background: darkred;
}
.group12{
    background: darkseagreen;
}

/* !모든 디바이스 */
.container{
    background: darkslategrey;
    border: 2px solid maroon;
    color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    padding: 12px 12px;
    /* row-gap: 24px; */
}

div[class^="group"]{
    width: 100%;
    height: 50px;
    margin: 12px 0;
    padding: 0 12px;
}

/* !768px 이상일때 */
@media (min-width: 768px){
    div[class^="group"]{
        width: 50%;
        height: 100px;
    }
}

/* ! 1280px 이상일때 */
@media (min-width: 1280px){
    div[class^="group"]{
        width: 25%;
        height: 200px;
    }
}