*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

.group1 .box{
    background: darkgray;
}
.group2 .box{
    background: darkblue;
}
.group3 .box{
    background: darkcyan;
}
.group4 .box{
    background: darkgoldenrod;
}
.group5 .box{
    background: darkgreen;
}
.group6 .box{
    background: darkkhaki;
}
.group7 .box{
    background: darkmagenta;
}
.group8 .box{
    background: darkolivegreen;
}
.group9 .box{
    background: darkorange;
}
.group10 .box{
    background: darkorchid;
}
.group11 .box{
    background: darkred;
}
.group12 .box{
    background: darkseagreen;
}

/* !모든 디바이스 */
.container{
    background: darkslategrey;
    border: 2px solid maroon;
    color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    /* padding: 12px 12px; */
    /* row-gap: 24px; */
    padding: 12px 12px;
}

div[class^="group"]{
    width: 100%;
    margin: 0;
    /* height: 50px; */
    /* margin: 12px 0; */
    /* padding: 0 12px; */
}

.box{
    margin: 12px 12px;
    height: 150px;
}

/* !768px 이상일때 */
@media (min-width: 768px){
    div[class^="group"]{
        width: 50%;
        /* height: 100px; */
    }

    div.group1, div.group4{
        width: 100%;
    }
}

/* ! 1280px 이상일때 */
@media (min-width: 1280px){
    div[class^="group"]{
        width: 25%;
        /* height: 200px; */
    }

    div.group2{
        order: 1;
    }

    div.group1, div.group12{
        width: 75%;
    }
}