@import url(./grid.css);

@import url(./normalize.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

/* *공통 스타일 */

body {
    background-color: var(--yellow);
    /* font-size: 5vw; */
    /* !왠만하면 vw사용하지 말것! -> ui설계의 어려움 */
    /* font-size: var(--text-xl); */
}

/* *중단점 320px 이상 */

@media (min-width: 320px) and (max-width: 768px){
    body{
        background-color: var(--green);
    }
}

/* *중단점 769px 이상 */

@media (min-width: 769px){
    body {
        background-color: var(--blue);
        /* font-size: var(--text-lg); */
    }
}

/* @media (min-width: 1000px){
    body {
        background-color: var(--blue);
        font-size: var(--text-md);
    }
} */

.news__videoContainer{
    /* width: 500px; */
    width: 60%;
    margin: 0 auto;
}